*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */


/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */
.h1__tittle {
    font-size: 24px;
line-height: 18px;
color: #2E2E3C;
text-align: center;
padding-bottom: 49px;
}
.item__express{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 30px;
}
.item {
    position: relative;
}
.item1__ul{
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* express */
/* footer */



/* footer */
